.square {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  float: left;
}

.board:after {
  clear: both;
  content: "";
  display: table;
}

.menu {
  margin-bottom: 20px;
}

.game {
  max-width: 800px;
  margin: auto;
}

.newGame {
  margin-top: 20px;
  margin-bottom: 20px;
}

.startGame {
  margin-bottom: 20px;
  background-color: yellow;
}